.js .myList { display: none; visibility: hidden; }

@media only screen and (min-width: 1000px) {
	
	.harmonia-select { display: none; visibility: hidden; }
	.js .myList { display: block; visibility: visible; }
	
}